header {
  background-color: var(--highlight-color);
  color: #fff;
  padding: 1em 0;
  border-radius: 0 0 20px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.575);
  margin: 0 20px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0.5em 3em;
  display: block;
  font-size: larger;
}

nav ul li a:hover {
  background-color: var(--primary-color);
  border-radius: 20px;
  transition: .8s;
}
