footer nav {
  display: flex;
  justify-content: center;
  padding: 40px;
  background-color: var(--primary-color);
  color: white;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.575);
}

footer nav a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}
p{
  text-align: center;
  padding: 10px 0;
  border-top: 1px solid #ddd;
  background-color: #f8f9fa;
  margin-bottom: -20px;
  color: var(--primary-color);
}
footer div nav{
  border-radius: 10px 10px 0 0;
}
