<div class="modal-header">
  <h5 class="modal-title">{{ title }}</h5>
  <button type="button" class="btn-close" aria-label="Close" (click)="onClose()"></button>
</div>
<div class="modal-body">
  <form>
    <div *ngFor="let field of fields" class="mb-3">
      <label [for]="field" class="form-label">{{ getLabel(field) }}</label>
      <input
        [id]="field"
        [(ngModel)]="item[field]"
        [ngModelOptions]="{ standalone: true }" 
        

        [type]="getFieldType(field)"
        class="form-control"
        [placeholder]="getLabel(field)"
      />
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="onClose()">Close</button>
  <button type="button" class="btn btn-primary" (click)="onSave()">Save changes</button>
</div>
