<div class="about-container">
  <div class="about-content">
    <h1>
      <h1>Website Terms and Conditions</h1>
    </h1>
    <p></p>
    <h2>1. Introduction</h2>
    <p>
      Welcome to <strong>Good Reads</strong>. By
      accessing or using this Website, you agree to comply with and be bound by
      the following terms and conditions (the "Terms"). If you do not agree to
      these Terms, you must not use this Website.
    </p>

    <h2>2. Intellectual Property Rights</h2>
    <p>
      Unless otherwise stated, <strong>Good Reads</strong> and/or its
      licensors own the intellectual property rights in the Website and material
      on the Website. All these intellectual property rights are reserved.
    </p>

    <h2>3. License to Use Website</h2>
    <p>
      You may view, download for caching purposes only, and print pages from the
      Website for your own personal use, subject to the restrictions set out
      below and elsewhere in these Terms.
    </p>
    <h2>4. Acceptable Use</h2>
    <p>
      You must not use this Website in any way that causes, or may cause, damage
      to the Website or impairment of the availability or accessibility of the
      Website; or in any way which is unlawful, illegal, fraudulent, or harmful,
      or in connection with any unlawful, illegal, fraudulent, or harmful
      purpose or activity.
    </p>

    <h2>5. Restricted Access</h2>
    <p>
      Access to certain areas of this Website is restricted.
      <strong>Good Reads</strong> reserves the right to restrict access
      to other areas of this Website, or indeed this entire Website, at
      <strong>Good Reads</strong>'s discretion.
    </p>

    <h2>6. User Content</h2>
    <p>
      In these Terms, "your user content" means material (including without
      limitation text, images, audio material, video material, and audio-visual
      material) that you submit to this Website, for whatever purpose.
    </p>

    <p>
      Without prejudice to <strong>Good Reads</strong>'s other rights
      under these Terms, if you breach these Terms in any way,
      <strong>Good Reads</strong> may take such action as
      <strong>Good Reads</strong>
    </p>
  </div>
</div>
