<header>
  <nav *ngIf="!isLoggedIn">
    <p>Already Registered?</p>
    <form (ngSubmit)="onLogin()">
      <input
        type="text"
        [(ngModel)]="username"
        name="username"
        placeholder="Enter Your Username"
        required
      />
      <input
        type="password"
        [(ngModel)]="password"
        name="password"
        placeholder="Enter Your Password"
        required
      />
      <button type="submit">Log In</button>
    </form>
  </nav>
  <div *ngIf="isLoggedIn">
    <section>
      <button (click)="navigateToProfile()">Profile</button>
      <button (click)="logout()">Logout</button>
    </section>
  </div>
  <div class="title-img">
    <h1>Welcome To Good Reads</h1>
  </div>
</header>

<main>
  <section class="popular">
    <div class="popular-box">
      <div class="authors">
        <h2>Popular Authors</h2>
        <ul>
          <li *ngFor="let author of authors">
            {{ author.firstName }} {{ author.lastName }}
          </li>
        </ul>
      </div>
      <div class="books">
        <h2>Popular Books</h2>
        <ul>
          <li *ngFor="let book of books">
            {{ book.name }}
          </li>
        </ul>
      </div>
      <div class="categories">
        <h2>Popular Categories</h2>
        <ul>
          <li *ngFor="let category of categories">
            {{ category.name }}
          </li>
        </ul>
      </div>
    </div>
  </section>

  <aside *ngIf="!isLoggedIn">
    <h2>New here? Create a free account!</h2>
    <form (ngSubmit)="onSignup()">
      <input
        type="text"
        [(ngModel)]="signupUsername"
        name="signupUsername"
        placeholder="Enter Your Username"
        required
      />
      <input
        type="text"
        [(ngModel)]="firstName"
        name="firstName"
        placeholder="Enter Your First Name"
        required
      />
      <input
        type="text"
        [(ngModel)]="lastName"
        name="lastName"
        placeholder="Enter Your Last Name"
        required
      />
      <input
        type="email"
        [(ngModel)]="email"
        name="email"
        placeholder="Enter Your Email"
        required
      />
      <input
        type="password"
        [(ngModel)]="signupPassword"
        name="signupPassword"
        placeholder="Enter Your Password"
        required
      />
      <input
        type="password"
        [(ngModel)]="confirmPassword"
        name="confirmPassword"
        placeholder="Retype Password"
        required
      />
      <button type="submit">Signup</button>
    </form>
  </aside>
</main>
