<header>
  <nav>
    <p>Aleardy Registerd?</p>
    <input type="text" placeholder="Enter Your Username" />
    <input type="password" placeholder="Enter Your Password" />
    <button>Log In</button>
  </nav>
  <br />
  <h1>Welcome To Good Reads</h1>
</header>
<main>
  <section class="popular">
    <div class="popular-box">
      <div class="authors">
        <h2>Popular Authors</h2>
        <!-- Add *ngFor loop here to display authors dynamically -->
      </div>
      <div class="books">
        <h2>Popular Books</h2>
        <!-- Add *ngFor loop here to display books dynamically -->
      </div>
      <div class="categories">
        <h2>Popular Categories</h2>
        <!-- Add *ngFor loop here to display categories dynamically -->
      </div>
    </div>
    <!-- <div class="tabs-list">
      <div class="tabs">
        <button
          (click)="setTab('books-list')"
          [class.active]="currentTab === 'books-list'"
        >
          Books List
        </button>
        <button
          (click)="setTab('read-list')"
          [class.active]="currentTab === 'read-list'"
        >
          Read List
        </button>
        <button
          (click)="setTab('currently-reading')"
          [class.active]="currentTab === 'currently-reading'"
        >
          Currently Reading
        </button>
        <button
          (click)="setTab('categories')"
          [class.active]="currentTab === 'categories'"
        >
          Categories
        </button>
        <button
          (click)="setTab('category-details')"
          [class.active]="currentTab === 'category-details'"
        >
          Category Details
        </button>
      </div>
      <div class="tab-content">
        <app-books-list *ngIf="currentTab === 'books-list'"></app-books-list>
        <app-read-list *ngIf="currentTab === 'read-list'"></app-read-list>
        <app-currently-reading
          *ngIf="currentTab === 'currently-reading'"
        ></app-currently-reading>
        <app-categories *ngIf="currentTab === 'categories'"></app-categories>
        <app-category-details
          *ngIf="currentTab === 'category-details'"
        ></app-category-details>
      </div>
    </div> -->
  </section>
  <aside>
    <h2>New here? Create a free account!</h2>
    <form>
      <input type="text" placeholder="Enter Your First Name" />
      <input type="text" placeholder="Enter Your Last Name" />
      <input type="email" placeholder="Enter Your Email" />
      <input type="password" placeholder="Enter Your Password" />
      <input type="password" placeholder="Retype Password" />
      <input type="file" placeholder="Upload your image" />
      <button type="submit">Signup</button>
    </form>
  </aside>
</main>
<!--
<footer>
  <nav>
    <a routerLink="/">Home</a>
    <a routerLink="/about">About Us</a>
    <a routerLink="/categories">Categories</a>
    <a routerLink="/authors">Authors</a>
    <a routerLink="/terms">Terms & Conditions</a>
  </nav>
</footer> -->
