header {
  background-color: var(--accent-color);
  padding: 20px;
  text-align: center;
}

.profile-info {
  padding: 20px;
  background-color: var(--primary-color);
  text-align: center;
}

.tabs-section {
  margin-top: 20px;
}

.tabs {
  display: flex;
  background-color: var(--accent-color);
}

.tabs button {
  flex: 1;
  padding: 10px;
  border: none;
  background: none;
  cursor: pointer;
}

.tabs button.active {
  border-bottom: 2px solid var(--highlight-color);
}

.tab-content {
  padding: 20px;
  background-color: var(--primary-color);
}
