

.tabs-section {
  display: flex;
  min-width: 100vw;
  min-height: 100vh;
}

.tabs button {
  padding: 10px 20px;
  cursor: pointer;
  background-color: #f0f0f0;
  border: none;
  border-bottom: 2px solid transparent;
}

.tabs button.active {
  border-bottom: 2px solid #007BFF;
}

.tab-content {
    display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #2c2a2a;
  border: 1px solid #ddd;
  min-height: 30vh;
  min-width: 100%;
}
.tabs{
  display: flex;
  min-width: 100% !important;
}
.tabs-list{
  display: flex;
  flex-direction: column;
  min-width: 100% !important;
}
