<div class="book-details-container">
  <div class="book-info">
    <div class="book-image">
      <img [src]="book.bookPhoto " alt="Book Image" class="img-fluid" />
    </div>
    <div class="book-meta">
      <p class="book-title">Name : {{ book.bookName }}</p>
      <p class="book-author">Author Name : {{ book.authorName}}</p>
      <p class="book-category">Category Name :{{ book.categoryName}}</p>
      <div class="book-rating">
        <span class="stars">{{ getStars(book.averageRating || 0) }}</span>
        <span class="rating-value">
          {{ book.averageRating | number:'1.1-1' }} - {{ book.reviewCount || 0 }} ratings
        </span>
      </div>
      <div class="book-actions">
        <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
          Want To Read
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li><a class="dropdown-item" href="#">Want to Read</a></li>
          <li><a class="dropdown-item" href="#">Currently Reading</a></li>
          <li><a class="dropdown-item" href="#">Read</a></li>
        </ul>
      </div>
     
    </div>
  </div>
  <div class="book-description">
    <p>Description : {{ book.bookDescription || 'No description available' }}</p>
  </div>
  <div class="book-reviews">
    <h2>Reviews</h2>
    <div *ngIf="reviews.length === 0">No reviews yet.</div>
    <div *ngFor="let review of reviews">
      <p>{{ review.reviewText }}</p>
    </div>
  </div>
</div>
