<div class="book-details-container">
  <div class="book-info">
    <div class="book-image">
      <img [src]="book.photo || 'path_to_placeholder_image'" alt="Book Image" class="img-fluid" />
    </div>
    <div class="book-meta">
      <h1 class="book-title">{{ book.name }}</h1>
      <p class="book-author"><a href="#">{{ book.authorName }}</a></p>
      <p class="book-category"><a href="#">{{ book.categoryName }}</a></p>
      <div class="book-rating">
        <span class="stars">{{ getStars(book.averageRating || 0) }}</span>
        <span class="rating-value">
          {{ book.averageRating | number:'1.1-1' }} - {{ book.reviewCount || 0 }} ratings
        </span>
      </div>
      <div class="book-actions">
        <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
          Want To Read
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li><a class="dropdown-item" href="#">Want to Read</a></li>
          <li><a class="dropdown-item" href="#">Currently Reading</a></li>
          <li><a class="dropdown-item" href="#">Read</a></li>
        </ul>
        <div class="book-rating-stars">
          {{ getStars(5) }}
        </div>
      </div>
      <div class="book-description">
        <p>{{ book.description }}</p>
      </div>
    </div>
  </div>
  <div class="book-reviews">
    <h2>Reviews</h2>
    <div *ngIf="reviews.length === 0">No reviews yet.</div>
    <div *ngFor="let review of reviews">
      <p>{{ review.reviewText }}</p>
    </div>
  </div>
</div>
